body{
	background-color:#EEEEEE;
}
#title{
	text-align: center;
	font-family: 'Alata', sans-serif;
}
.header_title p{
	font-family: 'PT Sans', sans-serif;
}
.img-div{
	background: white;
	padding: 20px;
	margin: 20px;
}
.img-div #image {
	padding: 40px 100px;
}
#img-caption {
	font-family: 'PT Sans', sans-serif;
	padding: 0px 140px;
}
#tribute-info h3{
	font-family: 'Alata', sans-serif;
}
#tribute-info ul{
	max-width: 550px;
	margin: 0 auto;
	text-align: left;
	line-height: 28px;
}
#tribute-info ul li{
	font-family: 'PT Sans', sans-serif;
}
#tribute-info ul li span{
	font-weight: bold;
}
#tribute-info p {
	margin: 0 auto;
	max-width: 540px;
	font-style: italic;
	padding: 20px 30px;
	text-align: center;
	margin-top: 15px;
	font-family: 'Slabo 27px', serif;
	font-size: 18px;
}
#tribute-link p{
	margin: 0 auto;
	max-width: 900px;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 40px;
}